.sectionTitle {
    color: #1e90ff;
    margin: 0;
    font-weight: 700;
    text-align: center;
    font-size: 26px;
    margin-bottom: 15px;
  }

.newsSection {
    padding: 40px;
    font-family: "Inter", "Arial", sans-serif;
    text-align: center;
  }

.supportWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.timerWrapper {
  display: flex;
  gap: 30px;
}

.selector {
    font-size: 16px;
    font-family: inherit;
    width: 125px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
}